/* body{
  background-color: red;
} */

.Top{
  background-color: #E9DAC1;
}
.NavSpave{
  background-color: #54BAB9;
}
h1{
  text-align: center;
  font-family: 'Lobster', cursive;
}
h2{
  text-align: center;
  font-family: 'Chonburi', cursive;
}

.footer{
  background-color: #54BAB9;
  text-align: center;
}

.middle{
  background-color: #F7ECDE;
}

#navBarList{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #FBF8F1;
}
